<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="assets/css/app.css" inline>
  </head>
  <body>


          {% block header %}

          <div class="row">
              <nav class="nav">

              </nav>
          </div>


          <nav class="nav" id="nav">
              <div class="nav-hamburger">

                  <div class="hamburger hamburger--elastic" tabindex="0"aria-label="Menu" role="button" aria-controls="navigation">

                      <div class="hamburger-box">
                          <div class="hamburger-inner"></div>
                      </div>
                  </div>

              </div>

              <div class="nav-logo">

                  <a href="">
                      <img src="" alt="">
                  </a>

              </div>



          </nav>


          {% endblock %}

          {% block main %}

          <h1>Roger FEderer</h1>

          {% endblock %}

          {% block footer %}

           {% endblock %}


 
    <script src="assets/js/app.js"></script>

   {% block scripts %}
          
           {% endblock %}


  </body>
</html>